<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-01-28T14:12:55Z</date>
	<key>WorkspacePath</key>
	<string>/Users/pk/Documents/Persönlich/Apps Xcode/Software_Engenieering_Documentation/Software_Engenieering_Documentation.xcodeproj</string>
</dict>
</plist>
